@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Poppins:wght@300;600&family=Roboto:wght@500&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0; 
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #CAE7EB;
}

#align-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 100%;
  background-color: #A1FFDE;
}

#title-container {
  margin-top: 50px;
  text-align: center;
  background-color: white;
  width: 700px;
  height: 75px
}

.text-container {
  margin-top: 30px;
  height: 150px;
  width: 300px;
  border: 2px solid black;
  background-color: grey;
  border-radius: 15px;
  padding: 10px;
}

textarea {
  resize: none;
}

#output {
  height: 250px;
  overflow: hidden;
  margin-top: 0px;
}

#btn {
  margin: 10px;
  height: 30px;
  width: 100px;
}

.selected-language {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.selected-language:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(https://flagsapi.com/US/shiny/32.png);
}